.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
  box-shadow: 1px 1px 1px gray;
}

.terminal::before {
  content: "\&#9834 &#9834; &#9834;";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(8, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.audio-progress-bar {
  &.mat-progress-bar {
    display: block;
    width: 300px;
    height: 10px;
  }

  .mat-progress-bar-fill::after {
    background-color: #37474f;
  }

  .mat-progress-bar-buffer {
    background-color: #90a4ae;
  }

  /* remove animation and the dots*/
  .mat-progress-bar-background {
    animation: none;
    background-color:  #800000;
    fill: #eceff1;
  }
}

.media-action-bar {
  width: 100%;
  padding: 2.5rem;
  justify-content: center;
}
.mat-icon {
  height: 48px !important;
  width: 48px !important;
  font-size: 48px !important;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.terminal-red {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(242, 241, 255);
}
.musicList
{
  position: relative;
  max-width: 500px;
  border-radius: 2rem;
  background-color: #FFFFFF;
  padding: 1rem;
  left:25%;
}
h2{
  padding: 5% 0 0 27%;
}
p{
  cursor: pointer;
  &:hover{
    background: powderblue;
  }
}

.player{
  position: relative;
  left:25%;
  max-width: 600px;
}

.text{
  max-width: 600px;
  background-color: #2b4e8b;
  color:#FFFFFF;
  text-align: center;
  font-size: 2rem;
  border-radius:3rem;
}

.skin-no-animation
{
  position: relative;
  border-radius:100%;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  left: 25%;
  border: 3px double rgba(28,110,164,0.83);
  background-image: url('src/images/sky.jpeg');
  background-position: 50% 50%,
  100%,
  20px 20px,
  50%,
  0 90%;
 }


.skin
{
  position: relative;
  border-radius:100%;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  left: 25%;
  border: 3px double rgba(28,110,164,0.83);
  background-image: url('src/images/sky.jpeg');
  background-position: 50% 50%,
          100%,
          20px 20px,
          50%,
          0 90%;
  animation-name: skinRotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.skin-inside
{
  position: relative;
  border-radius:100%;
  width: 30px;
  height: 30px;
  left: 45%;
  top:45%;
  border: 1px double rgba(3, 14, 92, 0.83);
  background: #f0f0f0;
}

.skin-inside2
{
  position: relative;
  border-radius:100%;
  width: 10px;
  height: 10px;
  left: 28%;
  top:28%;
  border: 2px double rgba(41, 74, 133, 0.83);
  //margin-right: -50%;
  background: #FFFFFF;
}



@keyframes skinRotation {
  from {  transform: rotate(0deg);}
  to {  transform: rotate(360deg);}
}

.mat-toolbar{
  border: 6px solid rgba(28,110,164,0.83);
  border-radius: 40px 40px 40px 40px;
}

.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 18px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 12px;
  border-radius: 10px
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: blue;
}
.mat-accent .mat-slider-thumb {
  height: 30px;
  width: 30px;
  background-color: white;
  border: solid 2px gray;
  bottom: -20px;
  right: -20px;
}
.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: white;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }


}
