<h1>About me:</h1>
<div class="container">
    <div class="row">
        <div class="col1">
           <img src="https://sun9-56.userapi.com/c624521/v624521717/129cc/lXC4tvRisss.jpg" >
        </div>
        <div class="col2">
            <p>My name is Anna Korotkova and I want to become an Angular developer! This blog is created to show examples of my work.
            Particle physics and High Energy Physics were for me the main course of my life.
                Nevertheless, now, I feel that I want to change my career path dramatically.
            </p>
        </div>
    </div>
    <div class="row">
<div class="card">
    <strong>PERSONAL SKILLS AND COMPETENCES:</strong>
    <ul>
        <li>C++/STL</li>
        <li>HTML, CSS   </li>
        <li>JavaScript , PHP,  MySQL </li>
        <li>Ajax, Joomla, Angular 8, bash </li>
    </ul>
</div>
    <div class="card">
        <strong>LANGUAGES:</strong>
        <ul>
            <li>Russian Native (C2)</li>
            <li>English	(B2, TOEFL 2019 certificate, 80 marks)</li>
            <li>Bulgarian Beginner (A1)  </li>
        </ul>
    </div>
    </div>
    <div class="mat-body">
        <p>EDUCATION:</p>
        <strong>2001-2006 Faculty Physics and Computer Science,  Smolensk State University, Russia</strong>
        <hr>
        <p>   EMPLOYMENT HISTORY:</p>
        <strong>Joint Institute for Nuclear Research</strong><br>
        <span>Researcher			2013-2019</span>
        <ul><li>• Developing scientific applications in C ++, bash, Python (Ubuntu/Debian OS)</li>
            <li>• Developing website for monitoring main trigger values, accelerator beam intensity and others
                <br> (<a href="http://gibsdata.jinr.ru/" target="_blank">http://gibsdata.jinr.ru/</a>, <a href="http://sqm.jinr.ru" target="_blank">http://sqm.jinr.ru</a>,
                <a href="https://angular-testproject-1fab8.web.app/?q=1 " target="_blank">http://angular-testproject-1fab8.web.app/?q=1</a> )
            </li>
            </ul>
        <span>Junior Researcher 		2007-2013</span>
        <ul>
        <li>
            <li>
                • Developed application in C++(Qt) to handle Laser system via COM port.</li>
           <li> • Scientific researches for rare kaon decays at CERN (NA62 collaboration)</li>
        </ul>

    </div>
</div>


