<h1>About me:</h1>
<div class="container">
    <div class="row">
        <div class="col1">
           <img src="https://sun9-56.userapi.com/c624521/v624521717/129cc/lXC4tvRisss.jpg" >
        </div>
        <div class="col2">
            <p>My name is Anna Korotkova and I want to become an Angular developer! This blog is created to show examples of my work.
            Particle physics and High Energy Physics were for me the main course of my life.
                Nevertheless, now, I feel that I want to change my career path dramatically.
            </p>
        </div>
    </div>
    <div class="row">
<div class="card">
    <strong>PERSONAL SKILLS AND COMPETENCES:</strong>
    <ul>
        <li>C++/STL</li>
        <li>HTML, CSS   </li>
        <li>JavaScript , PHP,  MySQL </li>
        <li>Ajax, Joomla, Angular 8, bash </li>
    </ul>
</div>
    <div class="card">
        <strong>LANGUAGES:</strong>
        <ul>
            <li>Russian Native (C2)</li>
            <li>English	(B2, TOEFL 2019 certificate, 80 marks)</li>
            <li>Bulgarian Beginner (A1)  </li>
        </ul>
    </div>
    </div>
</div>


