
.row{
  display: flex;
  flex-direction: row;
}

.col1 {
 flex:4;
  border: 2px #cccccc;
  border-radius: 5px;
  margin: 10px;
}

.col2{
  flex:6;
  border-radius: 5px;
  border: 2px #cccccc;
  margin: 10px;
}


a {
    margin: 0px;
    color: black;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    margin: 0 auto;
  }

  body{
    line-height: 1;
  }

  .col1{
    display: none;
  }
  .col2{
    flex:10;
  }
  p{
    font-size: 1rem;
  }

}
