<div class="container">
    <header class="header">
        <app-selector></app-selector>
    </header>
    <main>
        <app-calendar></app-calendar>
    </main>

    <section>
    <div class="header">Organizer:<strong>
               {{ dateService.date|async|moment: 'DD.MM.YYYY' }}
           </strong>
    </div>

    <form (ngSubmit)="submit()" [formGroup] = "form">
        <input type="text" placeholder="Enter task here" formControlName="title">
        <button type="submit" class="btn btn-block"
            [disabled]="form.invalid">Add</button>
    </form>

    <div>
        <ul>
            <li class="task">
                   <span>1 task</span>

                        <button type="submit" class="btn btn-block btn-danger">Remove</button>
            </li>
        </ul>
    </div>
    </section>
</div>

